<!DOCTYPE html> 
<!-- connect angular -->
<html ng-app= "retro-estApp">
<head>
	<title>Retro-est</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="api.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href='http://fonts.googleapis.com/css?family=Play:700' rel='stylesheet' type='text/css'>

</head>
<body>
			<!-- set a controller for angular -->
		<div ng-controller="profilesCtrl">
		<header id="head">
			<div id="title">Retro-est</div>
			<div id="total">
				<!-- display the total number of items -->
			<span>{{ totalProfiles()}} Pictures</span><br/> </div>
			<!-- have a search area -->
			<input id="search" type="text" placeholder= "Retro Search" ng-model="searchText"/> 

			<input id="button" type="button" value="Add Another Picture">
			<br>

			<form ng-submit="addNewProfile();" class="new" style="display: none">
			 	<!-- make inputs to collect item and quantity to be added -->
			 	<input type="text" size="35" placeholder="Add a picture URL"  ng-model="newPic">
			 	<input type="text" size="35" placeholder="What game is that from?" ng-model='newGname'>
			 	<input type="text" size="35" placeholder="When was it made?"  ng-model="newYear">
			 	<input type="text" size="35" placeholder="What console was it on?" ng-model='newConsole'>
			 	<input type="text" size="35" placeholder="Characters name(s)?"  ng-model="newCharName"> <br/>
			 	<!-- put the button to add the values -->
			 	<input type="submit" value="Add New Profile" id="submit">
			</form>

		</header>
			<section id="wrapper">	    
	        <div id="columns">
		        <div class="profile" x-ng-repeat="profile in profiles | filter:searchText" draggable="true" ondragstart="drag(event)" >
		          <img draggable="false" ng-src="{{profile.pic}}">
		          <hr>
		          <div>
		            <h4>{{profile.gName}}</h4>
		          </div>
		        </div>
	        </div> 

		</section>
		<div id="gameover"> Game Over!</div>
		<div id="delete" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
		<div ><img id="pipe" src="http://www.clker.com/cliparts/T/R/h/S/4/i/a-green-cartoon-pipe-md.png"></div>
		<div id="plant"><img src="http://www.plantascarnivorasbr.com/forum/download/file.php?avatar=9769_1334780623.gif"> <br></div>



		<div id ="info"> 
			<footer>
				
				<div> Let me know what you think!</div>
				<div>Crazy Joe Industries</div>
				<div>Dayyyyyuuuuummm</div>
				
			</footer>
		</div>


	</div>
</body>
